<section class="hero">
    <!-- Dekorativa ikoner -->
    <i class="fas fa-code floating-icon icon-1"></i>
    <i class="fas fa-laptop-code floating-icon icon-2"></i>
    <i class="fas fa-terminal floating-icon icon-3"></i>
    <i class="fas fa-microchip floating-icon icon-4"></i>
    <i class="fas fa-database floating-icon icon-5"></i>
    <i class="fas fa-network-wired floating-icon icon-6"></i>
    <i class="fas fa-robot floating-icon icon-7"></i>
    
    <h2>Din källa för det <span class="highlight">senaste</span> inom <br> programmering och tekniknyheter.</h2>
    <p>Bygg din 🫵 kunskap, skapa värdefulla nätverk och <br> forma din framtid inom tech med oss 🧑‍💻.</p>
    <a href="#" class="cta" onclick="scrollToSection('future-section')">Utforska mer</a>
    <!-- Intro video från intro.html -->
    <div class="intro-video">
        <video width="100%" controls>
            <source src="assets/videos/intro.mp4" type="video/mp4">
            Din webbläsare stödjer inte video-taggen.
        </video>
    </div>
</section>
