<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="assets/docs/Futurearcwhitepaper.pdf" target="_blank" rel="noopener noreferrer">Whitepaper</a>
            <a href="#">Användarvillkor</a>
            <a href="#">Cookies</a>
            <a href="about.html">Om oss</a>
            <a href="contactus.html" target="_blank" rel="noopener noreferrer">Kontakta oss</a>
        </div>
        <div class="social-icons">
            <a href="https://www.linkedin.com/company/futurearcmedia" class="social-link" aria-label="LinkedIn" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://x.com/future_arcmedia" class="social-link" aria-label="Twitter" target="_blank">
                <i class="fab fa-x-twitter"></i>
            </a>
            <a href="https://www.instagram.com/futurearcmedia" class="social-link" aria-label="Instagram" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.tiktok.com/@futurearcmedia" class="social-link" aria-label="TikTok" target="_blank">
                <i class="fab fa-tiktok"></i>
            </a> 
        </div>
        <p>&copy; 2025 FutureArc. Alla rättigheter reserverade.</p>
    </div>
</footer>

